<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/jaywcjlove/linux-command/new/master/command">Buyruq qo'shish</a> |
  <a href="<%=relative_path%>hot.html">Buyruqlar ro'yxati</a> |
  <a href="https://github.com/jaywcjlove/oscnews" target="_blank">Chrome plagini</a> |
  <a href="https://github.com/jaywcjlove/linux-command/releases" target="_blank">Alfred</a> |
  <a href="https://jaywcjlove.github.io/linux-command/linux-command.docset.zip" target="_blank">Dash</a> |
  <a href="https://github.com/roachsinai/krunner-linuxcommands" target="_blank">Krunner</a> |
  <a href="http://jaywcjlove.gitee.io/linux-command/" target="_blank">Ochiq manbali O'zbek web-versiyasi</a>
  <br />
  <a href="https://jaywcjlove.github.io/#/sponsor" target="_blank">Takliflar yoki qo'llab quvvatlash uchun</a> |
  <a href="https://github.com/jaywcjlove/linux-command" target="_blank">Github</a> |
  <a href="https://jaywcjlove.github.io/linux-command/" target="_blank">Qisqa manzil: https://git.io/linux</a>
  <br />
  Ushbu saytga xatcho‘p qo‘yish uchun Ctrl+D yoki Command+d tugmalaridan foydalaning
  <br /> Jami
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> Linux buyruqlari, ko'proq <a href="<%=relative_path%>contributors.html">50+</a> hissa qo'shganlar.

</div>